<!DOCTYPE html>
<html>
<head>
<!-- Load the Paper.js library -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/canvas_resize.css">
<script type="text/javascript" src="js/libraries/paper-full.js"></script>
<!-- Define inlined PaperScript associate it with myCanvas -->
<script type="text/paperscript" canvas="myCanvas" src="js/poster_1/view.js"></script>
</head>
<body>
	<canvas id="myCanvas" data-paper-resize="true"></canvas>
</body>
</html>
