html
    head
        meta(charset='UTF-8')
        title Poster
        link(rel='icon', type='image/png', href='../assets/favicon.png')
        script(language='javascript', type='text/javascript', src='js/libraries/jquery.min.js')
        script(language='javascript', type='text/javascript', src='/js/libraries/p5.min.js')
        script(language='javascript', type='text/javascript', src='/js/libraries/p5.sound.min.js')
        // here is the machine
        script(language='javascript', type='text/javascript', src='/js/objects/Window.js')
        script(language='javascript', type='text/javascript', src='/js/objects/VolLevel.js')
        script(language='javascript', type='text/javascript', src='/js/objects/Vehicle.js')
        script(language='javascript', type='text/javascript', src='/js/objects/NodeLetter.js')
        script(language='javascript', type='text/javascript', src='/js/objects/TypoNode.js')
        script(language='javascript', type='text/javascript', src='/js/objects/Punch.js')
        script(language='javascript', type='text/javascript', src='/js/data/allLetters.js')
        script(language='javascript', type='text/javascript', src='/js/poster_0/poster_world.js')
        script(language='javascript', type='text/javascript', src='/js/poster_0/poster_setup.js')
        script(language='javascript', type='text/javascript', src='/js/poster_0/poster_view.js')
        script(language='javascript', type='text/javascript', src='/js/poster_0/poster_control.js')
        // end
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body(style={margin:0})
        #container
    textarea(id="textarea")
