html
  head
    meta(charset='UTF-8')
    title Test
    link(rel='icon', type='image/png', href='../assets/favicon.png')
    script(language='javascript', type='text/javascript', src='/js/libraries/p5.min.js')
    script(language='javascript', type='text/javascript', src='/js/libraries/p5.sound.min.js')
    script(language='javascript', type='text/javascript', src='/js/' + whichScript)
    // end
    //- link(rel='stylesheet', type='text/css', href='/css/style.css')
  body(style={margin:0})
    #container(style={margin:auto})
