html
  head
    meta(charset='UTF-8')
    title Tyno#{letter}
    link(rel='icon', type='image/png', href='../assets/favicon.png')
    script(language='javascript', type='text/javascript', src='js/libraries/jquery.min.js')
    script(language='javascript', type='text/javascript', src='/js/libraries/p5.min.js')
    script(language='javascript', type='text/javascript', src='/js/libraries/p5.sound.min.js')
    // here is the machine
    script(language='javascript', type='text/javascript', src='/js/objects/Window.js')
    script(language='javascript', type='text/javascript', src='/js/objects/VolLevel.js')
    script(language='javascript', type='text/javascript', src='/js/objects/Vehicle.js')
    script(language='javascript', type='text/javascript', src='/js/objects/NodeLetter.js')
    script(language='javascript', type='text/javascript', src='/js/objects/TypoNode.js')
    script(language='javascript', type='text/javascript', src='/js/objects/Punch.js')
    script(language='javascript', type='text/javascript', src='/js/data/allLetters.js')
    script(language='javascript', type='text/javascript', src='/js/tyno_sandbox/tyno_world.js')
    script(language='javascript', type='text/javascript', src='/js/tyno_sandbox/tyno_setup.js')
    script(language='javascript', type='text/javascript', src='/js/tyno_sandbox/tyno_view.js')
    script(language='javascript', type='text/javascript', src='/js/tyno_sandbox/tyno_control.js')
    script(language='javascript', type='text/javascript', src='/js/tyno_sandbox/tyno_load_save.js')
    // end
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    #container
